build/
x64/
opencv2
.vs/HW101/v17/.suo
.vs/HW101/v17/Browse.VC.db
Games101/.vs/Games101/v17/.suo
Games101/.vs/Games101/v17/Browse.VC.db
Games101/.vs/Games101/v17/Browse.VC.db-shm
Games101/.vs/Games101/v17/Browse.VC.db-wal
Games101/.vs/Games101/v17/Browse.VC.opendb
Games101/.vs/Games101/v17/Solution.VC.db
Games101/.vs/Games101/v17/Solution.VC.db-shm
Games101/.vs/Games101/v17/Solution.VC.db-wal
Games101/.vs/Games101/v17/fileList.bin
Games101/.vs/Games101/v17/ipch/AutoPCH/16d3f75012ec966e/RASTERIZER.ipch
Games101/.vs/Games101/v17/ipch/AutoPCH/292a36b3ef54c52/TRIANGLE.ipch
Games101/.vs/Games101/v17/ipch/AutoPCH/2dfca37cccedae37/RASTERIZER.ipch
Games101/.vs/Games101/v17/ipch/AutoPCH/50b5381626955a6f/MAIN.ipch
Games101/.vs/Games101/v17/ipch/AutoPCH/74e988a1447cad6e/MAIN.ipch
Games101/.vs/Games101/v17/ipch/AutoPCH/87dfad438d9464a0/RASTERIZER.ipch
Games101/.vs/Games101/v17/ipch/AutoPCH/b762f29896e52ba9/TRIANGLE.ipch
Games101/.vs/Games101/v17/ipch/AutoPCH/c931f3e33ed6d7c0/MAIN.ipch
Games101/.vs/Games101/v17/ipch/AutoPCH/f999d2efa2720e1f/TRIANGLE.ipch
Games101/.vs/Games101/v17/ipch/AutoPCH/ff412df6d141d9f9/MAIN.ipch
